<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bizbot.bizbot2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_bizbot"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_bizbot_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".home.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".home.MainActivity"/>
        <activity android:name=".search.SearchActivity"/>
        <activity android:name=".setting.AlertSetting"/>
        <activity android:name=".setting.SettingActivity"/>
        <activity android:name=".setting.MyInfoSetting"/>
        <activity android:name=".support.SupportFilterActivity"/>
        <activity android:name=".support.FavouriteActivity"/>
        <activity android:name=".support.FilterAreaActivity"/>
        <activity android:name=".support.SupportActivity"/>
        <activity android:name=".support.SupportDetailActivity"/>
        <activity android:name=".partner.PartnerActivity"/>
        <service android:name=".background.LoadDataJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"/>
    </application>

</manifest>